<section class="we">
  <hr />
  <h1>Quem Somos</h1>
  <hr />
  <section class="highlight">
    <h2>Missão</h2>
    <p>
      Nossa missão é contribuir para um mundo mais sustentável, coletando resíduos orgânicos de estabelecimentos comerciais e os fornecendo para empresas que os convertem em novos formatos de energia, como gás de cozinha e energia elétrica.
    </p>
  </section>
  <hr />

  <section class="highlight">
    <h2>Visão</h2>
    <p>
      Nossa visão é sermos líderes na transformação de resíduos orgânicos em
      fontes limpas de energia, promovendo a economia circular e o
      desenvolvimento sustentável.
    </p>
  </section>
  <hr />
  <section class="highlight">
    <h2>Valores</h2>   
      <li>Sustentabilidade</li>
      <li>Inovação</li>
      <li>Responsabilidade social</li>
      <li>Parceria</li>
      <li>Qualidade</li>
  </section>
</section>
