:host {
    display: flex;
    flex-direction: column;
    width: min(500px, 100%);
    height: min(1024px, 100vh);
    margin: 0 auto;
 

}
.logo{
    background-color: black;
  }
  .navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Para garantir que a navbar fique acima de outros elementos */
  }
  